.parent {
    display: inline-block;
}

.large-text {
    font-size: 75px;
}

.me {
    color: #a78475;
}

.large-cursor {
    height:200px;
}

.large-cursor::after {
    content: "|"; /* custom cursor character */
    font-size: 75px; /* adjust font size of cursor */
    font-weight: bold;
    color: #000000; /* color of the cursor */
    animation: blink 2s infinite; /* blink animation */
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
