.parent {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align horizontally */
}

.large-text {
    font-size: 75px;
    white-space: nowrap; /* Prevent text from wrapping */
    color: #3c3c3c;
}

.me {
    color: #a78475;
}

.large-cursor {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    width: 100%; /* Ensure it takes full width */
    height: 200px;
    position: relative;
}

.large-cursor::after {
    content: "|"; /* Custom cursor character */
    font-size: 75px; /* Adjust font size of cursor */
    font-weight: bold;
    color: #3c3c3c; /* color of the cursor */
    animation: blink 2s infinite; /* blink animation */
  }
  
  @keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

img {
    width: 200px; /* Adjust width as needed */
    margin-bottom: 20px; /* Space between image and animation */
}
